          <li><a href="/event_titles">Manage Event Titles</a></li>
          <li><a href="/genders">Manage Genders</a></li>
          <li><a href="/levels">Manage Competition Levels</a></li>
          <li><a href="/locations">Manage Locations</a></li>
          <li><a href="/photographers">Manage Photographers</a></li>
          <li><a href="/schools">Manage Schools</a></li>
          <li><a href="/sports">Manage Sports</a></li>
